.cards {
  width: 100%;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

.cards__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.2rem;
  padding: 3.2rem;
}

.cards__item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 32rem;
  padding: 1.9rem 1.8rem;
  border: 2px solid #ccc;
  border-radius: 12px;

  text-align: center;
}

.cards__item img {
  width: 100%;
  border-radius: 6px;
}

.cards__item p {
  font-size: clamp(1.2rem, 5vw, 1.8rem);
}

.cards__item button {
  align-self: center;
  width: 14rem;
  padding: 0.8rem;
  border: 2px solid #000;
  border-radius: 100rem;

  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;

  background-color: transparent;
}

@media (min-width: 1050px) {
  .cards__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
}
