@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --title-color: #fff;
  --paragraph-color: #000;
  --default-transition: all 300ms ease-in-out;

  font-size: 62.5%;
}

body {
  font-family: 'Albert Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}
